@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 
}

.finalScore {
    font-family: 'Rubik Dirt', cursive;
}

.rock,
.paper,
.scissor {


    background-color: black;
    font-family: 'Mukta', sans-serif;
    color: white;
    border-radius: 5px;
    font-weight: 800;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.disabled{
    background-color: #e0e7ff79 ;
}

.restart {
    display: none;
    
    height: 40px;
    width: 100px;
    background-color: rgb(155, 31, 31);
    color: white;
    border-radius: 5px;
    font-family: 'Mukta', cursive;
    font-weight: 900;

}

span{
    color: rgb(0, 133, 190);
}
